html {
  scroll-behavior: smooth;
}

body {
  display: block;
  width:100vw;
  padding: 0;
  margin: 0;
  padding-right: 0px;
  overflow-x: hidden;
  font-family: Amatic SC;
}

div.navigator {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 10vh;
  background-color: #100e17;

}

header.Home {
  position: relative;
  width: 100%;
  height: 8vh;
  background-color: #100e17;
}

div.menu {
  display: flex;
  justify-content: center;
}

nav {
  padding: 2.5vh 5px;
  overflow: hidden;
}

div.submenu a {
  text-decoration: none;
  font-family: cursive;
  font-size: 4vh;
  color: white;
  padding: 10px 40px;
  margin: 10px 20px;
}

div.submenu {
  transition: 0.5s;
}

div.submenu :hover {
  background-color: #ffffff;
  color: Black;
}



header.bigger-header {
  border-bottom-right-radius: 200px;
  height: 50vh;
  background-color: #100e17;
}


div.About {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  justify-content: space-around;
}

div.About-SubContent {
  padding: 10px 10px;
  margin: 10px 10px;
}

p.Content {
  font-size: 35px;
}

p.title {
  text-align: center;
  font-size: 60px;
  font-family: Pacifico;
}

div.Projects {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

div.Projects li {
  font-size: 35px;
  padding: 40px 10px;
  margin: 40px 10px;
}

div.Projects-SubContent {
  margin: 20px 10px;
  padding: 20px 10px;
}

div.Skills {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  height: 100vh;
  justify-content: space-around;
}

div.Skills li {
  font-size: 35px;
  padding: 2vh 10px;
  margin: 2vh 10px;
}

div.Skills-SubContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: 0px 10px;
  padding: 0px 10px;
}

#Skills-title {
  flex-direction: row;
  flex-grow: 1.5;
  text-align: center;
  align-content: center;
}







@media only screen and (max-width:750px ) and (min-width:380px){
  nav{
    padding: 2.5vh 0px;
    margin: 0px;
    justify-content: center;
  }

  div.submenu a {
    text-decoration: none;
    font-family: cursive;
    font-size: 25px;
    color: white;
    padding: 30px 10px;
    margin: 20px 0px;
  }

  header.bigger-header{
    border-bottom-right-radius: 100px
  }

}







@media only screen and (max-width:380px) {
  nav{
    padding: 2.5vh 0px;
    margin: 0px;
    justify-content: center;
  }

  div.submenu a {
    text-decoration: none;
    font-family: cursive;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin: 15px 0px;
  }

  header.bigger-header{
    border-bottom-right-radius: 90px
  }

  div.About-SubContent {
    padding: 0px 10px;
    margin: 0px 10px;
  }
}
